# Build training data and engineer new features

In [1]:
import numpy as np
import pandas as pd
import psycopg2 as pg
import datetime as dt
import ast
import os
import string
import re
import pickle
import yaml
import math
import matplotlib.pyplot as plt

from lib.geography import haversine, build_highway_features_two_way, build_highway_features_one_way
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

%matplotlib inline
import matplotlib.pyplot as plt

### Inputs and connection string

In [5]:
# model configurations

file_args = yaml.load(open('./conf/pipeline_args.yml','r'))

In [3]:
# create db connection objects

conn_str_file = './conf/db_conn_str.txt'

pg_conn_str = open(conn_str_file, 'r').read()
conn = pg.connect(pg_conn_str)
cur = conn.cursor()

OperationalError: could not connect to server: Connection refused (0x0000274D/10061)
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Connection refused (0x0000274D/10061)
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

### Load SQL table to memory via random sampling

In [4]:
cur.execute("""
SELECT count(*) FROM segments_time_level_selected WHERE NOT level_mean IS NULL
""")

results = cur.fetchone()
positive_count = results[0]
print('Number of segments selected: '+str(positive_count))

Number of segments selected: 1720515

In [12]:
negative_positive_ratio = 4

In [13]:
sampled_df = pd.read_sql("""(SELECT * FROM segments_time_level_selected WHERE NOT level_mean IS NULL) UNION 
                        (SELECT * FROM segments_time_level_selected WHERE level_mean IS NULL ORDER BY RANDOM() LIMIT """ + 
                        str(positive_count*negative_positive_ratio) + ');',
                        con=conn)

In [14]:
sampled_df.head()

,segment_id,street,road_type,lat1,lon1,lat2,lon2,time_id,date,day_of_week,month,time,level_min,level_max,level_mean,level_count
0,18,Adams Ave,2,32.762914,-117.128252,32.763334,-117.126578,3,2017-06-07,2,6,11:30:00,NaN,NaN,NaN,NaN
1,18,Adams Ave,2,32.762914,-117.128252,32.763334,-117.126578,7,2017-04-13,3,4,11:00:00,3.0,3.0,3.0,1.0
2,18,Adams Ave,2,32.762914,-117.128252,32.763334,-117.126578,8,2017-02-16,3,2,20:30:00,NaN,NaN,NaN,NaN
3,18,Adams Ave,2,32.762914,-117.128252,32.763334,-117.126578,17,2017-04-10,0,4,16:30:00,NaN,NaN,NaN,NaN
4,18,Adams Ave,2,32.762914,-117.128252,32.763334,-117.126578,25,2017-03-26,6,3,02:30:00,NaN,NaN,NaN,NaN

### Checkpoint (so I don't have to run SQL query again)

In [ ]:
pickle.dump(sampled_df, open('./data/train_test/sampled_df.pkl', 'wb'), protocol=4)

#### Reload sampled_df

In [6]:
sampled_df = pickle.load(open('./data/train_test/sampled_df.pkl', 'rb'))

In [7]:
sampled_df['segment_id'].nunique()

6687

In [19]:
sampled_df['date'].nunique()

KeyError: 'datetime'

## Process the data:
1. replace all na with zero
1. add 'level_binary' column
1. set 'time' column
1. add number of days since earliest date
1. add number of minutes since midnight
1. encode categorical data to numeric using sklearn's labelencoder
1. One hot encode road_type

In [48]:
#Sort by date
sampled_df.sort_values('date')

,segment_id,street,road_type,lat1,lon1,lat2,lon2,time_id,date,day_of_week,month,time,level_min,level_max,level_mean,level_count
5461221,113063,SR-15 S,3,32.714173,-117.118001,32.713381,-117.118226,3915,2017-02-08,2,2,16:00:00,NaN,NaN,NaN,NaN
4331775,88723,Exit 3A: I-8 E,4,32.761832,-117.164269,32.761950,-117.164001,3777,2017-02-08,2,2,18:00:00,4.0,4.0,4.000000,3.0
5297154,110051,Camino del Rio West,6,32.752876,-117.204823,32.752997,-117.204840,2251,2017-02-08,2,2,20:30:00,2.0,2.0,2.000000,1.0
2685929,55481,Linda Vista Rd,7,32.764677,-117.197472,32.765102,-117.197123,884,2017-02-08,2,2,23:30:00,NaN,NaN,NaN,NaN
3012949,61479,Exit 15: N Park Way / University Ave,4,32.750655,-117.123520,32.750059,-117.123438,399,2017-02-08,2,2,18:30:00,4.0,4.0,4.000000,3.0
924759,21611,Linda Vista Rd,7,32.768653,-117.192299,32.768816,-117.191700,2923,2017-02-08,2,2,19:00:00,2.0,2.0,2.000000,1.0
6952085,142385,W Mission Bay Dr,7,32.760837,-117.229255,32.761125,-117.229729,1021,2017-02-08,2,2,23:00:00,NaN,NaN,NaN,NaN
1155400,25820,Front St,7,32.720894,-117.164763,32.719876,-117.164755,2923,2017-02-08,2,2,19:00:00,NaN,NaN,NaN,NaN
5806658,119779,Upas St,2,32.741104,-117.131931,32.741104,-117.132018,2251,2017-02-08,2,2,20:30:00,NaN,NaN,NaN,NaN
3733337,75562,Florida Dr,2,32.725538,-117.142779,32.726712,-117.142760,2923,2017-02-08,2,2,19:00:00,NaN,NaN,NaN,NaN
5296828,110051,Camino del Rio West,6,32.752876,-117.204823,32.752997,-117.204840,982,2017-02-08,2,2,17:00:00,3.0,4.0,3.600000,5.0
545927,14557,N Harbor Dr,6,32.729373,-117.195077,32.729376,-117.195210,1940,2017-02-08,2,2,21:00:00,NaN,NaN,NaN,NaN
1805929,38419,26th St,2,32.720300,-117.138511,32.720491,-117.138550,884,2017-02-08,2,2,23:30:00,NaN,NaN,NaN,NaN
7933068,161293,Mission Blvd,7,32.766422,-117.251108,32.766422,-117.251107,982,2017-02-08,2,2,17:00:00,NaN,NaN,NaN,NaN
7691534,156257,I-5 S,3,32.754399,-117.201279,32.753309,-117.199769,4801,2017-02-08,2,2,16:30:00,3.0,3.0,3.000000,5.0
5296681,110051,Camino del Rio West,6,32.752876,-117.204823,32.752997,-117.204840,399,2017-02-08,2,2,18:30:00,NaN,NaN,NaN,NaN
4144643,83952,B St,2,32.717830,-117.153780,32.717827,-117.154380,982,2017-02-08,2,2,17:00:00,2.0,2.0,2.000000,1.0
6952456,142385,W Mission Bay Dr,7,32.760837,-117.229255,32.761125,-117.229729,2872,2017-02-08,2,2,21:30:00,NaN,NaN,NaN,NaN
1805861,38419,26th St,2,32.720300,-117.138511,32.720491,-117.138550,517,2017-02-08,2,2,22:30:00,NaN,NaN,NaN,NaN
8188757,166392,25th St,7,32.715285,-117.140274,32.715809,-117.140284,3915,2017-02-08,2,2,16:00:00,NaN,NaN,NaN,NaN
50811,1305,Robinson Ave,2,32.746560,-117.156016,32.746474,-117.155701,4801,2017-02-08,2,2,16:30:00,2.0,3.0,2.750000,4.0
7691405,156257,I-5 S,3,32.754399,-117.201279,32.753309,-117.199769,4127,2017-02-08,2,2,22:00:00,NaN,NaN,NaN,NaN
4144532,83952,B St,2,32.717830,-117.153780,32.717827,-117.154380,447,2017-02-08,2,2,19:30:00,NaN,NaN,NaN,NaN
3520494,71193,Exit 3: I-805 N,4,32.738747,-117.113157,32.738791,-117.113176,4188,2017-02-08,2,2,20:00:00,NaN,NaN,NaN,NaN
6952688,142385,W Mission Bay Dr,7,32.760837,-117.229255,32.761125,-117.229729,4127,2017-02-08,2,2,22:00:00,NaN,NaN,NaN,NaN
8405463,171034,5th Ave,7,32.720923,-117.160192,32.721987,-117.160213,4801,2017-02-08,2,2,16:30:00,2.0,3.0,2.333333,3.0
8188730,166392,25th St,7,32.715285,-117.140274,32.715809,-117.140284,3777,2017-02-08,2,2,18:00:00,NaN,NaN,NaN,NaN
4526248,94935,Pacific Hwy,6,32.757030,-117.201491,32.756079,-117.201208,982,2017-02-08,2,2,17:00:00,NaN,NaN,NaN,NaN
6951985,142385,W Mission Bay Dr,7,32.760837,-117.229255,32.761125,-117.229729,517,2017-02-08,2,2,22:30:00,NaN,NaN,NaN,NaN
6393516,131634,5th Ave,7,32.736620,-117.160335,32.737664,-117.160342,517,2017-02-08,2,2,22:30:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2393889,48971,30th St,2,32.735636,-117.129317,32.736542,-117.129317,5363,2017-06-12,0,6,05:30:00,NaN,NaN,NaN,NaN
6044855,124617,Nimitz Blvd,6,32.726070,-117.221781,32.725994,-117.221687,717,2017-06-12,0,6,02:00:00,NaN,NaN,NaN,NaN
748524,18124,Market St,6,32.711532,-117.149458,32.711529,-117.150361,2082,2017-06-12,0,6,13:00:00,NaN,NaN,NaN,NaN
3002379,61310,University Ave,7,32.748451,-117.129515,32.748444,-117.130133,3353,2017-06-12,0,6,00:00:00,NaN,NaN,NaN,NaN
7920880,161119,W Cedar St,2,32.721944,-117.168286,32.721941,-117.169170,1244,2017-06-12,0,6,15:00:00,NaN,NaN,NaN,NaN
6044859,124617,Nimitz Blvd,6,32.726070,-117.221781,32.725994,-117.221687,731,2017-06-12,0,6,03:00:00,NaN,NaN,NaN,NaN
3439576,69522,Midway Dr,7,32.745739,-117.199762,32.746254,-117.200630,717,2017-06-12,0,6,02:00:00,NaN,NaN,NaN,NaN
66000,2168,11th Ave,7,32.716713,-117.154705,32.716759,-117.154706,979,2017-06-12,0,6,07:30:00,NaN,NaN,NaN,NaN
6080955,125354,El Cajon Blvd,6,32.755369,-117.135945,32.755367,-117.136351,1244,2017-06-12,0,6,15:00:00,3.0,3.0,3.000000,1.0
8061979,163964,Camino del Rio South,2,32.769517,-117.136965,32.769449,-117.137245,5048,2017-06-12,0,6,09:30:00,NaN,NaN,NaN,NaN
7793075,158494,University Ave,7,32.748454,-117.128911,32.748452,-117.129201,5240,2017-06-12,0,6,07:00:00,NaN,NaN,NaN,NaN
3072689,62636,33rd St,1,32.727013,-117.124103,32.727089,-117.124308,942,2017-06-12,0,6,12:00:00,NaN,NaN,NaN,NaN
3024897,61705,Exit 2B: Washington St W,4,32.750872,-117.156582,32.750709,-117.156657,1244,2017-06-12,0,6,15:00:00,3.0,3.0,3.000000,4.0
2006886,42384,Voltaire St,2,32.743696,-117.234862,32.744151,-117.235145,1244,2017-06-12,0,6,15:00:00,NaN,NaN,NaN,NaN
3660682,74148,Hotel Cir North,7,32.761758,-117.166697,32.761721,-117.166632,3353,2017-06-12,0,6,00:00:00,NaN,NaN,NaN,NaN
6631292,135914,3rd Ave,1,32.745123,-117.162725,32.746938,-117.162740,3353,2017-06-12,0,6,00:00:00,NaN,NaN,NaN,NaN
2136155,44606,Mission Center Rd,7,32.766664,-117.153291,32.766883,-117.153363,2451,2017-06-12,0,6,11:30:00,3.0,3.0,3.000000,1.0
5291002,109928,I-8 W,3,32.761533,-117.166229,32.761238,-117.167293,1426,2017-06-12,0,6,02:30:00,NaN,NaN,NaN,NaN
5949021,122677,W Harbor Dr,6,32.711483,-117.171047,32.711480,-117.170068,4769,2017-06-12,0,6,12:30:00,3.0,3.0,3.000000,2.0
8338332,169885,Ash St,7,32.719873,-117.171021,32.719875,-117.169941,521,2017-06-12,0,6,10:00:00,NaN,NaN,NaN,NaN
5567540,114815,University Ave,7,32.748464,-117.127685,32.748466,-117.127171,5240,2017-06-12,0,6,07:00:00,NaN,NaN,NaN,NaN
3152126,63808,I-5 N,3,32.724297,-117.151568,32.724384,-117.151934,5240,2017-06-12,0,6,07:00:00,2.0,2.0,2.000000,3.0
6080933,125354,El Cajon Blvd,6,32.755369,-117.135945,32.755367,-117.136351,1153,2017-06-12,0,6,13:30:00,NaN,NaN,NaN,NaN
2815162,58223,Park Blvd,2,32.745804,-117.146912,32.745503,-117.147172,1978,2017-06-12,0,6,03:30:00,NaN,NaN,NaN,NaN
8061951,163964,Camino del Rio South,2,32.769517,-117.136965,32.769449,-117.137245,4931,2017-06-12,0,6,00:30:00,NaN,NaN,NaN,NaN
7619956,154665,5th Ave,7,32.740800,-117.160368,32.741479,-117.160375,1976,2017-06-12,0,6,08:30:00,NaN,NaN,NaN,NaN
3948074,79794,Laning Rd,2,32.729616,-117.218937,32.729401,-117.218838,1244,2017-06-12,0,6,15:00:00,NaN,NaN,NaN,NaN
4766812,99226,Tarento Dr,1,32.717647,-117.248266,32.717906,-117.248320,2451,2017-06-12,0,6,11:30:00,NaN,NaN,NaN,NaN
1698622,36100,North Park Way,2,32.747369,-117.131001,32.747372,-117.131890,5183,2017-06-12,0,6,10:30:00,NaN,NaN,NaN,NaN
3653886,73927,to I-8 E,4,32.768504,-117.139055,32.768787,-117.138552,584,2017-06-12,0,6,01:00:00,NaN,NaN,NaN,NaN

In [49]:
#Replace na values with zeros for assumption of no congestion
level_cols = [c for c in sampled_df.columns if c.startswith('level')]

for c in level_cols:
    sampled_df[c].fillna(0, inplace=True)

In [50]:
# create 'target' column and set it to appropriate value based on input
print('creating level_binary column...')

sampled_df['level_binary'] = 0
sampled_df['level_binary'][sampled_df['level_mean'] != 0] = 1

creating level_binary column...

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [51]:
# add date_idx for number of days since earliest date
print('adding date_idx for number of days since earliest date...')
td = pd.to_datetime(sampled_df['date']) - pd.to_datetime(sampled_df.date.min())
date_idx_vals = (td / np.timedelta64(1, 'D')).astype(int)
sampled_df['date_idx'] = date_idx_vals

adding date_idx for number of days since earliest date...

In [52]:
# add time_idx for number of minutes since midnight
print('adding time_idx for number of minutes since midnight...')
time_idx_vals = list(map(lambda t: t.hour*60 + t.minute, sampled_df['time'].values))
sampled_df['time_idx'] = time_idx_vals

adding time_idx for number of minutes since midnight...

In [53]:
# encode categorical data using label encoder - do not encode date and time
print('encoding categorical columns as numeric...')

le = preprocessing.LabelEncoder()

for col in ['day_of_week','month']:
    print('processing {} column'.format(col))
    sampled_df[col] = le.fit_transform(sampled_df[col])

encoding categorical columns as numeric...
processing day_of_week column
processing month column

In [54]:
# one hot encode the road_type column. this is necessary because they are not necessarily numeric columns

sampled_df = pd.concat([sampled_df,pd.get_dummies(sampled_df['road_type'],prefix='road_type')],axis=1)
sampled_df.drop(columns=['road_type'], inplace=True)

# Add features

## Create features for major highways

### Query all unique street names

In [4]:
cur.execute('ROLLBACK')

NameError: name 'cur' is not defined

In [85]:
cur.execute("""
SELECT street, SUM(seg_length)*10000, count(*) FROM segments 
GROUP BY street
""")
results = cur.fetchall()
with open('./data/street_names/street_names.txt','w') as f:
    for item in sorted(results):
        f.write(item[0]+'\t'+str(item[1])+'\t'+str(item[2])+'\n')

In [17]:
cur.execute("""
SELECT street, SUM(seg_length)*10000, count(*) FROM segments 
WHERE NOT street LIKE '%Ave' AND NOT street LIKE '%Rd' 
AND NOT street LIKE '%St' AND NOT street LIKE '%Dr' AND NOT street LIKE '%Way'
AND NOT street LIKE '%Cir' AND NOT street LIKE '%Pl' AND NOT street LIKE '%Blvd'
AND NOT street LIKE '%Trl' AND NOT street LIKE '%Street' AND NOT street LIKE '%Av'
AND NOT street LIKE '%Ln' AND NOT street LIKE '%Tr' AND NOT street LIKE '%Ter'
AND NOT street LIKE '%Ct' AND NOT street LIKE '%Pkwy' AND NOT street LIKE '%Drive'
GROUP BY street
""")
results = cur.fetchall()
with open('./data/street_names/street_names_no_suffix.txt','w') as f:
    for item in sorted(results):
        f.write(item[0]+'\t'+str(item[1])+'\t'+str(item[2])+'\n')

In [18]:
cur.execute("""
SELECT street, SUM(seg_length)*10000, count(*) FROM segments
WHERE street LIKE '%N' OR street LIKE '%E' OR street LIKE '%S' OR street LIKE '%W'
GROUP BY street
""")
results = cur.fetchall()
with open('./data/street_names/street_names_nesw.txt','w') as f:
    for item in sorted(results):
        f.write(item[0]+'\t'+str(item[1])+'\t'+str(item[2])+'\n')

### Query major streets with high traffic

In [86]:
high_traffic_df = sampled_df.loc[sampled_df['level_max'] > 2].groupby('street')['street'].count().sort_values(ascending=False)[:200]
high_traffic_df.to_csv('./data/train_test/processed_training_data.pkl')

### Create fields for major highways (and streets)

In [26]:
highways = ['I-5 N','I-8 E','I-15 N','I-805 N','SR-15 N','SR-52 E','SR-54 E',
           'SR-56 E','SR-67 N','SR-75 N','SR-94 E','SR-125 N','SR-163 N','SR-905 E',
           'I-5 S','I-8 W','I-15 S','I-805 S','SR-15 S','SR-52 W','SR-54 W',
           'SR-56 W','SR-67 S','SR-75 S','SR-94 W','SR-125 S','SR-163 S','SR-905 W']

In [ ]:
if highway_features_two_way = True:
    sampled_df = build_highway_features_two_way(sampled_df)

In [ ]:
if highway_features_two_way = False:
    sampled_df = build_highway_features_one_way(sampled_df)

## Add average of previous time to segments

Averaging segments based on previous day of week and time. There are a variety of ways to do this including using different time buckets but sticking with this method for simplicity for now.

In [56]:
level_max_average = 'all'

In [58]:
# Sort by segment_id, day_of_week, time_idx to group segments within the same DoW and time bucket
#sampled_df = sampled_df.sort_values(['segment_id','day_of_week','time_idx','date']).copy(deep=True)
#sampled_df = sampled_df.reset_index()

if level_max_average == 'time series':
    sampled_df['level_max_average'] = sampled_df.groupby(['segment_id','day_of_week','time_idx'])['level_max'].cumsum() \
                            /(np.floor(sampled_df['date_idx']/7.0)+1)
    

if level_max_average == 'all':
    ndow = sampled_df.groupby(['day_of_week'])['date'].nunique()
    overall_level_max_average = sampled_df.groupby(['segment_id','day_of_week','time_idx'])['level_max'].sum()
    overall_level_max_average = overall_level_max_average.reset_index()
    overall_level_max_average['level_max_average'] = overall_level_max_average.apply(lambda x: x['level_max']/ndow[x['day_of_week']], axis=1)
    sampled_df = pd.merge(sampled_df, overall_level_max_average, how = 'left', on=['segment_id','day_of_week','time_idx'])

In [62]:
sampled_df.sort_values('level_max_average', ascending=False)

,index,segment_id,street,lat1,lon1,lat2,lon2,time_id,date,day_of_week,...,date_idx,time_idx,road_type_1,road_type_2,road_type_3,road_type_4,road_type_6,road_type_7,level_max_y,level_max_average
7796896,7796109,158569,to SR-163 N,32.725009,-117.155072,32.725138,-117.155198,1016,2017-06-08,3,...,120,900,0,0,0,1,0,0,72.0,4.0
3810855,3811034,77233,to SR-163 N,32.728364,-117.155284,32.728909,-117.155058,4128,2017-06-02,4,...,114,690,0,0,0,1,0,0,72.0,4.0
6162622,6163121,126757,to I-8 E,32.757798,-117.203912,32.758087,-117.203629,3182,2017-04-18,1,...,69,960,0,0,0,1,0,0,68.0,4.0
7111184,7111896,145232,to I-8 E / Morena Blvd,32.758955,-117.200735,32.759102,-117.200509,4126,2017-03-07,1,...,27,1020,0,0,0,1,0,0,68.0,4.0
6162621,6163118,126757,to I-8 E,32.757798,-117.203912,32.758087,-117.203629,3165,2017-04-11,1,...,62,960,0,0,0,1,0,0,68.0,4.0
6118171,6119228,125921,to I-8 E / Morena Blvd,32.758724,-117.201036,32.758955,-117.200735,5426,2017-02-28,1,...,20,990,0,0,0,1,0,0,68.0,4.0
6118172,6118519,125921,to I-8 E / Morena Blvd,32.758724,-117.201036,32.758955,-117.200735,2682,2017-03-07,1,...,27,990,0,0,0,1,0,0,68.0,4.0
6118173,6118261,125921,to I-8 E / Morena Blvd,32.758724,-117.201036,32.758955,-117.200735,1732,2017-03-14,1,...,34,990,0,0,0,1,0,0,68.0,4.0
1336683,1336224,29603,to I-8 E,32.756866,-117.204484,32.757289,-117.204272,1357,2017-02-23,3,...,15,930,0,0,0,1,0,0,72.0,4.0
1336682,1336752,29603,to I-8 E,32.756866,-117.204484,32.757289,-117.204272,3459,2017-02-16,3,...,8,930,0,0,0,1,0,0,72.0,4.0
1336681,1336078,29603,to I-8 E,32.756866,-117.204484,32.757289,-117.204272,852,2017-02-09,3,...,1,930,0,0,0,1,0,0,72.0,4.0
6118174,6119253,125921,to I-8 E / Morena Blvd,32.758724,-117.201036,32.758955,-117.200735,5497,2017-03-21,1,...,41,990,0,0,0,1,0,0,68.0,4.0
6118175,6119007,125921,to I-8 E / Morena Blvd,32.758724,-117.201036,32.758955,-117.200735,4534,2017-03-28,1,...,48,990,0,0,0,1,0,0,68.0,4.0
6118176,6117817,125921,to I-8 E / Morena Blvd,32.758724,-117.201036,32.758955,-117.200735,4,2017-04-04,1,...,55,990,0,0,0,1,0,0,68.0,4.0
6118177,6119021,125921,to I-8 E / Morena Blvd,32.758724,-117.201036,32.758955,-117.200735,4590,2017-04-11,1,...,62,990,0,0,0,1,0,0,68.0,4.0
7111183,7111872,145232,to I-8 E / Morena Blvd,32.758955,-117.200735,32.759102,-117.200509,4029,2017-02-28,1,...,20,1020,0,0,0,1,0,0,68.0,4.0
7111182,7111682,145232,to I-8 E / Morena Blvd,32.758955,-117.200735,32.759102,-117.200509,3313,2017-02-21,1,...,13,1020,0,0,0,1,0,0,68.0,4.0
7111181,7111076,145232,to I-8 E / Morena Blvd,32.758955,-117.200735,32.759102,-117.200509,1022,2017-02-14,1,...,6,1020,0,0,0,1,0,0,68.0,4.0
7111180,7111696,145232,to I-8 E / Morena Blvd,32.758955,-117.200735,32.759102,-117.200509,3372,2017-06-06,1,...,118,990,0,0,0,1,0,0,68.0,4.0
6118178,6118989,125921,to I-8 E / Morena Blvd,32.758724,-117.201036,32.758955,-117.200735,4468,2017-04-18,1,...,69,990,0,0,0,1,0,0,68.0,4.0
7111179,7110968,145232,to I-8 E / Morena Blvd,32.758955,-117.200735,32.759102,-117.200509,568,2017-05-30,1,...,111,990,0,0,0,1,0,0,68.0,4.0
4081325,4081278,82632,to I-8 E,32.757547,-117.204108,32.757798,-117.203912,2045,2017-03-15,2,...,35,1020,0,0,0,1,0,0,72.0,4.0
4081324,4081560,82632,to I-8 E,32.757547,-117.204108,32.757798,-117.203912,3201,2017-03-08,2,...,28,1020,0,0,0,1,0,0,72.0,4.0
4081323,4080972,82632,to I-8 E,32.757547,-117.204108,32.757798,-117.203912,941,2017-03-01,2,...,21,1020,0,0,0,1,0,0,72.0,4.0
1336690,1336100,29603,to I-8 E,32.756866,-117.204484,32.757289,-117.204272,938,2017-04-13,3,...,64,930,0,0,0,1,0,0,72.0,4.0
1336698,1336034,29603,to I-8 E,32.756866,-117.204484,32.757289,-117.204272,673,2017-06-08,3,...,120,930,0,0,0,1,0,0,72.0,4.0
1336697,1336520,29603,to I-8 E,32.756866,-117.204484,32.757289,-117.204272,2515,2017-06-01,3,...,113,930,0,0,0,1,0,0,72.0,4.0
1336696,1335892,29603,to I-8 E,32.756866,-117.204484,32.757289,-117.204272,101,2017-05-25,3,...,106,930,0,0,0,1,0,0,72.0,4.0
1336695,1336437,29603,to I-8 E,32.756866,-117.204484,32.757289,-117.204272,2197,2017-05-18,3,...,99,930,0,0,0,1,0,0,72.0,4.0
1336694,1336460,29603,to I-8 E,32.756866,-117.204484,32.757289,-117.204272,2279,2017-05-11,3,...,92,930,0,0,0,1,0,0,72.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3522903,3522634,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,2885,2017-04-01,5,...,52,570,1,0,0,0,0,0,0.0,0.0
3522902,3522468,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,2249,2017-02-11,5,...,3,570,1,0,0,0,0,0,0.0,0.0
3522901,3523000,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,4386,2017-05-27,5,...,108,540,1,0,0,0,0,0,0.0,0.0
3522900,3522722,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,3209,2017-04-22,5,...,73,540,1,0,0,0,0,0,0.0,0.0
3523093,3522488,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,2339,2017-05-21,6,...,102,0,1,0,0,0,0,0,0.0,0.0
3523095,3523309,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,5513,2017-03-12,6,...,32,30,1,0,0,0,0,0,0.0,0.0
3523122,3522947,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,4159,2017-02-12,6,...,4,270,1,0,0,0,0,0,0.0,0.0
3523096,3523060,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,4592,2017-04-30,6,...,81,30,1,0,0,0,0,0,0.0,0.0
3523121,3522413,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,2021,2017-06-11,6,...,123,240,1,0,0,0,0,0,0.0,0.0
3523120,3522555,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,2602,2017-04-23,6,...,74,240,1,0,0,0,0,0,0.0,0.0
3523119,3523158,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,4972,2017-03-19,6,...,39,240,1,0,0,0,0,0,0.0,0.0
3523118,3522265,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,1406,2017-06-04,6,...,116,210,1,0,0,0,0,0,0.0,0.0
3523117,3522057,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,576,2017-05-07,6,...,88,210,1,0,0,0,0,0,0.0,0.0
3523116,3522967,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,4253,2017-04-23,6,...,74,210,1,0,0,0,0,0,0.0,0.0
3523115,3521954,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,219,2017-06-04,6,...,116,180,1,0,0,0,0,0,0.0,0.0
3523114,3522134,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,928,2017-05-07,6,...,88,180,1,0,0,0,0,0,0.0,0.0
3523113,3522621,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,2854,2017-03-26,6,...,46,180,1,0,0,0,0,0,0.0,0.0
3523112,3522117,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,868,2017-02-12,6,...,4,180,1,0,0,0,0,0,0.0,0.0
3523111,3521974,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,285,2017-06-11,6,...,123,150,1,0,0,0,0,0,0.0,0.0
3523110,3522216,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,1217,2017-05-14,6,...,95,150,1,0,0,0,0,0,0.0,0.0
3523109,3522978,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,4297,2017-05-07,6,...,88,120,1,0,0,0,0,0,0.0,0.0
3523108,3523203,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,5156,2017-06-11,6,...,123,90,1,0,0,0,0,0,0.0,0.0
3523107,3522925,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,4066,2017-05-21,6,...,102,90,1,0,0,0,0,0,0.0,0.0
3523106,3523292,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,5453,2017-05-07,6,...,88,90,1,0,0,0,0,0,0.0,0.0
3523105,3522724,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,3217,2017-04-16,6,...,67,90,1,0,0,0,0,0,0.0,0.0
3523104,3522358,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,1768,2017-02-12,6,...,4,90,1,0,0,0,0,0,0.0,0.0
3523099,3522965,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,4235,2017-06-04,6,...,116,30,1,0,0,0,0,0,0.0,0.0
3523098,3523184,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,5065,2017-05-28,6,...,109,30,1,0,0,0,0,0,0.0,0.0
3523097,3521980,71208,Historic Decatur Rd,32.739600,-117.211265,32.739952,-117.210896,299,2017-05-14,6,...,95,30,1,0,0,0,0,0,0.0,0.0
8602574,8601636,174548,Washington St,32.751728,-117.150348,32.751978,-117.149768,929,2017-02-19,6,...,11,1410,0,0,0,0,1,0,0.0,0.0

## Add Events

### Add Collisions

In [110]:
collisions_df = pd.read_sql('SELECT * FROM collisions', con=conn)

In [111]:
collisions_df.sort_values(by='PRIMARY_RD').groupby('PRIMARY_RD')['PRIMARY_RD'].count()\
.to_csv('./data/street_names/collision_df_street_names.txt')

In [12]:
collisions_df.columns

Index(['CASE_ID', 'ACCIDENT_YEAR', 'PROC_DATE', 'JURIS', 'COLLISION_DATE',
       'COLLISION_TIME', 'OFFICER_ID', 'REPORTING_DISTRICT', 'DAY_OF_WEEK',
       'CHP_SHIFT', 'POPULATION', 'CNTY_CITY_LOC', 'SPECIAL_COND', 'BEAT_TYPE',
       'CHP_BEAT_TYPE', 'CITY_DIVISION_LAPD', 'CHP_BEAT_CLASS', 'BEAT_NUMBER',
       'PRIMARY_RD', 'SECONDARY_RD', 'DISTANCE', 'DIRECTION', 'INTERSECTION',
       'WEATHER_1', 'WEATHER_2', 'STATE_HWY_IND', 'CALTRANS_COUNTY',
       'CALTRANS_DISTRICT', 'STATE_ROUTE', 'ROUTE_SUFFIX', 'POSTMILE_PREFIX',
       'POSTMILE', 'LOCATION_TYPE', 'RAMP_INTERSECTION', 'SIDE_OF_HWY',
       'TOW_AWAY', 'COLLISION_SEVERITY', 'NUMBER_KILLED', 'NUMBER_INJURED',
       'PARTY_COUNT', 'PRIMARY_COLL_FACTOR', 'PCF_CODE_OF_VIOL',
       'PCF_VIOL_CATEGORY', 'PCF_VIOLATION', 'PCF_VIOL_SUBSECTION',
       'HIT_AND_RUN', 'TYPE_OF_COLLISION', 'MVIW', 'PED_ACTION',
       'ROAD_SURFACE', 'ROAD_COND_1', 'ROAD_COND_2', 'LIGHTING',
       'CONTROL_DEVICE', 'CHP_ROAD_TYPE', 'PEDESTRIAN_ACCIDENT',
       'BICYCLE_ACCIDENT', 'MOTORCYCLE_ACCIDENT', 'TRUCK_ACCIDENT',
       'NOT_PRIVATE_PROPERTY', 'ALCOHOL_INVOLVED', 'STWD_VEHTYPE_AT_FAULT',
       'CHP_VEHTYPE_AT_FAULT', 'COUNT_SEVERE_INJ', 'COUNT_VISIBLE_INJ',
       'COUNT_COMPLAINT_PAIN', 'COUNT_PED_KILLED', 'COUNT_PED_INJURED',
       'COUNT_BICYCLIST_KILLED', 'COUNT_BICYCLIST_INJURED', 'COUNT_MC_KILLED',
       'COUNT_MC_INJURED', 'PRIMARY_RAMP', 'SECONDARY_RAMP', 'LATITUDE',
       'LONGITUDE'],
      dtype='object')

### Add Non-Padres events

In [12]:
events_df = pd.read_sql('SELECT * FROM events', con=conn)
events_df['event_type'].unique()

array(['ATHLETIC', 'FESTIVAL', 'FARMERS', 'PARADES', 'EXHIBITS', 'MUSEUM',
       'CONCERTS'], dtype=object)

In [13]:
def clean_event_title(e):
    e_clean = e.translate(str.maketrans("","",string.punctuation)).replace(' ','_')
    return e_clean

In [19]:
# get events from dataframe
events_df = pd.read_sql('SELECT * FROM events', con=conn)
events_df['event_start'] = pd.to_datetime(events_df['event_start'])
events_df['event_end'] = pd.to_datetime(events_df['event_end'])

# modify str
events_df['exp_attendance'] = events_df['exp_attendance'].map(lambda x: re.sub('[^0-9]','',x))
events_df['exp_attendance'].loc[events_df['exp_attendance'] == ''] = np.NaN
events_df['exp_attendance'] = events_df['exp_attendance'].astype('float64')

# subset to events larger than event_attendance_threshold
events_of_interest = events_df[(events_df['exp_attendance']>=file_args['event_attendance_threshold']) & 
                                  events_df['event_type'].isin(['ATHLETIC','FESTIVAL','CONCERTS'])]

# add datetime column to data
sampled_df['datetime'] = sampled_df[['date','time']].apply(lambda row: dt.datetime.combine(row['date'], row['time']), axis=1)

# add event columns to data
event_features = sampled_df[['datetime']].copy()

# add columns for events
sampled_df['event_festival'] = 0
sampled_df['event_athletic'] = 0
sampled_df['event_concerts'] = 0
sampled_df['distance_festival'] = 0.0
sampled_df['distance_athletic'] = 0.0
sampled_df['distance_concerts'] = 0.0
sampled_df['exp_attendance'] = 0

# set values for padres_event column to 1 if event occurring
event_start_window_before = 2
event_start_window_after = 0.5
event_end_window_before = 0.5
event_end_window_after = 1

for index, row in events_of_interest.iterrows():
    
    # set active before/after game start time
    start = row['event_start'] - dt.timedelta(hours=event_start_window_before)
    end = row['event_start'] + dt.timedelta(hours=event_start_window_after)
    events_start_df = sampled_df.loc[(sampled_df['datetime']>=start) & (sampled_df['datetime']<=end)]
    sampled_df.loc[(sampled_df['datetime']>=start) & (sampled_df['datetime']<=end), 'distance_'+row['event_type'].lower()] = \
                        events_start_df.apply(lambda x: max(1/haversine(row['latitude'],row['longitude'],x['lat1'],x['lon1']), x['distance_'+row['event_type'].lower()]), axis=1)
    sampled_df.loc[(sampled_df['datetime']>=start) & (sampled_df['datetime']<=end) & (sampled_df['distance_'+row['event_type'].lower()]>=1),'event_'+row['event_type'].lower()] = 1
    
    # set active before/after game end time
    start = row['event_end'] - dt.timedelta(hours=event_end_window_before)
    end = row['event_end'] + dt.timedelta(hours=event_end_window_after)
    events_end_df = sampled_df.loc[(sampled_df['datetime']>=start) & (sampled_df['datetime']<=end)]
    sampled_df.loc[(sampled_df['datetime']>=start) & (sampled_df['datetime']<=end), 'distance_'+row['event_type'].lower()] = \
                        events_end_df.apply(lambda x: max(1/haversine(row['latitude'],row['longitude'],x['lat1'],x['lon1']), x['distance_'+row['event_type'].lower()]),axis=1)
    sampled_df.loc[(sampled_df['datetime']>=start) & (sampled_df['datetime']<=end) & (sampled_df['distance_'+row['event_type'].lower()]>=1), 'event_'+row['event_type'].lower()] = 1

# drop added datetime column
sampled_df.drop('datetime', axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [20]:
sampled_df.loc[sampled_df['event_athletic'] == 1]

,segment_id,street,lat1,lon1,lat2,lon2,time_id,date,day_of_week,month,...,road_type_4,road_type_6,road_type_7,event_festival,event_athletic,event_concerts,distance_festival,distance_athletic,distance_concerts,exp_attendance
3625,64,W Broadway,32.715696,-117.165612,32.715701,-117.166489,2761,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,2.052882,0.0,0
3685,64,W Broadway,32.715696,-117.165612,32.715701,-117.166489,2979,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,2.052882,0.0,0
3839,64,W Broadway,32.715696,-117.165612,32.715701,-117.166489,3407,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,2.052882,0.0,0
3876,64,W Broadway,32.715696,-117.165612,32.715701,-117.166489,3510,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,2.052882,0.0,0
12746,214,1st Ave,32.724058,-117.163879,32.724058,-117.163878,2761,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,1.769154,0.0,0
12792,214,1st Ave,32.724058,-117.163879,32.724058,-117.163878,2979,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,1.769154,0.0,0
12897,214,1st Ave,32.724058,-117.163879,32.724058,-117.163878,3529,2017-06-04,6,4,...,0,0,0,0,1,0,0.090536,1.769154,0.0,0
13623,216,I-5 S,32.728239,-117.168790,32.725948,-117.166723,1103,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,3.402300,0.0,0
14095,216,I-5 S,32.728239,-117.168790,32.725948,-117.166723,2761,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,3.402300,0.0,0
14150,216,I-5 S,32.728239,-117.168790,32.725948,-117.166723,2979,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,3.402300,0.0,0
14267,216,I-5 S,32.728239,-117.168790,32.725948,-117.166723,3407,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,3.402300,0.0,0
14411,216,I-5 S,32.728239,-117.168790,32.725948,-117.166723,3972,2017-06-04,6,4,...,0,0,0,0,1,0,0.089863,3.402300,0.0,0
24019,489,Ash St,32.719876,-117.164755,32.719884,-117.165598,2761,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,1.973533,0.0,0
24038,489,Ash St,32.719876,-117.164755,32.719884,-117.165598,2845,2017-06-04,6,4,...,0,0,1,0,1,0,0.089376,1.973533,0.0,0
24067,489,Ash St,32.719876,-117.164755,32.719884,-117.165598,2979,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,1.973533,0.0,0
24144,489,Ash St,32.719876,-117.164755,32.719884,-117.165598,3407,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,1.973533,0.0,0
24164,489,Ash St,32.719876,-117.164755,32.719884,-117.165598,3485,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,1.973533,0.0,0
24172,489,Ash St,32.719876,-117.164755,32.719884,-117.165598,3510,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,1.973533,0.0,0
24268,489,Ash St,32.719876,-117.164755,32.719884,-117.165598,3972,2017-06-04,6,4,...,0,0,1,0,1,0,0.089376,1.973533,0.0,0
26334,562,1st Ave,32.716765,-117.163828,32.717778,-117.163840,1103,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,1.692981,0.0,0
26800,562,1st Ave,32.716765,-117.163828,32.717778,-117.163840,2761,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,1.692981,0.0,0
26825,562,1st Ave,32.716765,-117.163828,32.717778,-117.163840,2845,2017-06-04,6,4,...,0,0,0,0,1,0,0.089000,1.692981,0.0,0
34024,671,N Harbor Dr,32.727719,-117.178470,32.727725,-117.177859,2761,2017-06-04,6,4,...,0,1,0,0,1,0,0.000000,2.085557,0.0,0
34045,671,N Harbor Dr,32.727719,-117.178470,32.727725,-117.177859,2845,2017-06-04,6,4,...,0,1,0,0,1,0,0.086652,2.085557,0.0,0
34084,671,N Harbor Dr,32.727719,-117.178470,32.727725,-117.177859,2979,2017-06-04,6,4,...,0,1,0,0,1,0,0.000000,2.085557,0.0,0
34251,671,N Harbor Dr,32.727719,-117.178470,32.727725,-117.177859,3529,2017-06-04,6,4,...,0,1,0,0,1,0,0.086652,2.085557,0.0,0
38846,814,W Cedar St,32.721936,-117.169959,32.721941,-117.169170,2845,2017-06-04,6,4,...,0,0,0,0,1,0,0.088205,7.034240,0.0,0
54307,1356,N Harbor Dr,32.727255,-117.175770,32.727117,-117.175469,2845,2017-06-04,6,4,...,0,1,0,0,1,0,0.087425,3.274120,0.0,0
54500,1356,N Harbor Dr,32.727255,-117.175770,32.727117,-117.175469,3529,2017-06-04,6,4,...,0,1,0,0,1,0,0.087425,3.274120,0.0,0
58849,1623,N Harbor Dr,32.727697,-117.177441,32.727564,-117.176631,2845,2017-06-04,6,4,...,0,1,0,0,1,0,0.086976,2.416392,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8465325,172203,5th Ave,32.735579,-117.160330,32.736620,-117.160335,2761,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,1.097078,0.0,0
8465362,172203,5th Ave,32.735579,-117.160330,32.736620,-117.160335,2979,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,1.097078,0.0,0
8465456,172203,5th Ave,32.735579,-117.160330,32.736620,-117.160335,3407,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,1.097078,0.0,0
8465486,172203,5th Ave,32.735579,-117.160330,32.736620,-117.160335,3529,2017-06-04,6,4,...,0,0,1,0,1,0,0.094278,1.097078,0.0,0
8486503,172663,Columbia St,32.728519,-117.169463,32.727639,-117.169034,2761,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,3.744902,0.0,0
8486507,172663,Columbia St,32.728519,-117.169463,32.727639,-117.169034,2783,2017-06-04,6,4,...,0,0,0,0,1,0,0.089703,3.744902,0.0,0
8486791,172663,Columbia St,32.728519,-117.169463,32.727639,-117.169034,3972,2017-06-04,6,4,...,0,0,0,0,1,0,0.089703,3.744902,0.0,0
8495072,172797,State St,32.727655,-117.168818,32.727826,-117.168909,3485,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,3.562299,0.0,0
8511019,173049,1st Ave,32.743305,-117.163853,32.745117,-117.163870,1103,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,1.144896,0.0,0
8528979,173345,I-5 S,32.725948,-117.166723,32.724896,-117.165752,2761,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,2.600190,0.0,0
8535651,173481,Kettner Blvd,32.711410,-117.169190,32.712530,-117.169176,3485,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,2.554878,0.0,0
8535658,173481,Kettner Blvd,32.711410,-117.169190,32.712530,-117.169176,3510,2017-06-04,6,4,...,0,0,1,0,1,0,0.000000,2.554878,0.0,0
8536669,173488,Beech St,32.720902,-117.162938,32.720897,-117.163853,2761,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,1.591480,0.0,0
8536713,173488,Beech St,32.720902,-117.162938,32.720897,-117.163853,2979,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,1.591480,0.0,0
8537486,173494,7th Ave,32.713633,-117.158329,32.714666,-117.158336,1103,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,1.017213,0.0,0
8537858,173494,7th Ave,32.713633,-117.158329,32.714666,-117.158336,2979,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,1.017213,0.0,0
8541622,173528,W Cedar St,32.721936,-117.170965,32.721936,-117.170144,3407,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,13.731357,0.0,0
8545098,173593,W Washington St,32.749879,-117.167465,32.749868,-117.168225,2783,2017-06-04,6,4,...,0,1,0,0,1,0,0.095031,1.076092,0.0,0
8545138,173593,W Washington St,32.749879,-117.167465,32.749868,-117.168225,2979,2017-06-04,6,4,...,0,1,0,0,1,0,0.000000,1.076092,0.0,0
8545260,173593,W Washington St,32.749879,-117.167465,32.749868,-117.168225,3529,2017-06-04,6,4,...,0,1,0,0,1,0,0.095031,1.076092,0.0,0
8545356,173593,W Washington St,32.749879,-117.167465,32.749868,-117.168225,3972,2017-06-04,6,4,...,0,1,0,0,1,0,0.095031,1.076092,0.0,0
8547193,173649,I-5 N,32.723715,-117.164165,32.723920,-117.164409,1103,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,1.836492,0.0,0
8553045,173717,4th Ave,32.743325,-117.161559,32.741841,-117.161530,2783,2017-06-04,6,4,...,0,0,0,0,1,0,0.095677,1.016622,0.0,0
8553165,173717,4th Ave,32.743325,-117.161559,32.741841,-117.161530,3407,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,1.016622,0.0,0
8553190,173717,4th Ave,32.743325,-117.161559,32.741841,-117.161530,3510,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,1.016622,0.0,0
8553196,173717,4th Ave,32.743325,-117.161559,32.741841,-117.161530,3529,2017-06-04,6,4,...,0,0,0,0,1,0,0.095677,1.016622,0.0,0
8577803,174106,I-5 S,32.723011,-117.163477,32.722862,-117.163141,3510,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,1.693618,0.0,0
8577811,174106,I-5 S,32.723011,-117.163477,32.722862,-117.163141,3529,2017-06-04,6,4,...,0,0,0,0,1,0,0.090436,1.693618,0.0,0
8584524,174202,India St,32.727373,-117.169864,32.728327,-117.170280,2979,2017-06-04,6,4,...,0,0,0,0,1,0,0.000000,4.512615,0.0,0
8584899,174202,India St,32.727373,-117.169864,32.728327,-117.170280,3972,2017-06-04,6,4,...,0,0,0,0,1,0,0.089339,4.512615,0.0,0

### Add Padres games

In [18]:
# get padres from database
padres_df = pd.read_sql('SELECT * FROM padres_games', con=conn)
padres_df['game_start'] = pd.to_datetime(padres_df['game_start'])
padres_df['game_end'] = pd.to_datetime(padres_df['game_end'])

# add datetime column to data
sampled_df['datetime'] = sampled_df[['date','time']].apply(lambda row: dt.datetime.combine(row['date'], row['time']), axis=1)

# add padres_game column to data
sampled_df['event_padres'] = 0
sampled_df['distance_padres'] = 0.0

# set values for padres_event column to 1 if padres game was occurring
padres_start_window_before = 2
padres_start_window_after = 0.5
padres_end_window_before = 0.5
padres_end_window_after = 1

petco_park_coordinates = (32.7076,-117.1570)

for index, row in padres_df.iterrows():
    # set active before/after game start time
    start = row['game_start'] - dt.timedelta(hours=padres_start_window_before)
    end = row['game_start'] + dt.timedelta(hours=padres_start_window_after)
    padres_sampled_df = sampled_df.loc[(sampled_df['datetime']>=start) & (sampled_df['datetime']<=end)]
    sampled_df.loc[(sampled_df['datetime']>=start) & (sampled_df['datetime']<=end), 'event_padres'] = 1
    sampled_df.loc[(sampled_df['datetime']>=start) & (sampled_df['datetime']<=end), 'distance_padres'] = \
                padres_sampled_df.apply(lambda x: haversine(32.707,-117.1570,x['lat1'],x['lon1']), axis=1)
        
    # set active before/after game end time
    start = row['game_end'] - dt.timedelta(hours=padres_end_window_before)
    end = row['game_end'] + dt.timedelta(hours=padres_end_window_after)
    padres_sampled_df = sampled_df.loc[(sampled_df['datetime']>=start) & (sampled_df['datetime']<=end)]
    sampled_df.loc[(sampled_df['datetime']>=start) & (sampled_df['datetime']<=end), 'event_padres'] = 1
    sampled_df.loc[(sampled_df['datetime']>=start) & (sampled_df['datetime']<=end), 'distance_padres'] = \
                padres_sampled_df.apply(lambda x: haversine(32.707,-117.1570,x['lat1'],x['lon1']), axis=1)

# drop added datetime column
sampled_df.drop('datetime', axis=1, inplace=True)

## Delete unneeded features

In [ ]:
# define features and target
print('subsetting data to date, time, features and target...')
features = ['date_idx','time_idx','day_of_week','month','segment_id','road_type','lat1','lon1','lat2','lon2']
targets = [c for c in sampled_df.columns if c.startswith('level')]

### create data structure with params and data and write to pickle file

In [24]:
# write clustered training data to database
if file_args['write_sql_db']:
    sampled_df.to_sql(name='processed_training_data', con=conn, 
                  if_exists='replace', index=False, chunksize=1000)

In [26]:
# write processed data to pickle file
if file_args['write_pickle_file']:
    pickle.dump(sampled_df, open('./data/train_test/processed_training_data.pkl', 'wb'), protocol=4)
    print('pickle file dump complete...')

pickle file dump complete...