# Cluster

In [24]:
import numpy as np
import pandas as pd
import datetime as dt
import pickle
import ast
import psycopg2 as pg
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans, MiniBatchKMeans
import sklearn.preprocessing as preprocessing

%matplotlib inline
import matplotlib.pyplot as plt

### Inputs and connection string

In [2]:
# model configurations

file_args = yaml.load(open('./conf/pipeline_args.yml','r'))

In [3]:
# create db connection objects

conn_str_file = './conf/db_conn_str.txt'

pg_conn_str = open(conn_str_file, 'r').read()
conn = pg.connect(pg_conn_str)

sqlalchemy_conn_str = open('./conf/sqlalchemy_conn_str.txt', 'r').read()
engine = create_engine(sqlalchemy_conn_str)

## Load training data

In [4]:
sampled_df = pickle.load(open('./data/train_test/processed_training_data.pkl','rb'))

# Prepare clustering data set and train test split

In [5]:
sampled_df.columns

Index(['index', 'date', 'time', 'date_idx', 'time_idx', 'day_of_week',
       'segment_id', 'lat1', 'lon1', 'lat2', 'lon2', 'level_min', 'level_max',
       'level_mean', 'level_count', 'level_binary', 'road_type_1',
       'road_type_2', 'road_type_3', 'road_type_4', 'road_type_6',
       'road_type_7', 'historical_level_max_average',
       'overall_level_max_average', 'event', 'exp_attendance', 'padres_game'],
      dtype='object')

## Remove features for cluster training

In [6]:
# drop unnecessary columns
drop_columns_df = sampled_df.drop(columns=['index','date','time','segment_id','level_min','level_max',
                         'level_mean','level_count','level_binary'])

In [7]:
# take level_max as time series average grouped by time and dow (only count historical incidents up to current date)
historical_level_df = drop_columns_df.drop(columns=['overall_level_max_average'])
# take level_max as non time series average grouped by time and dow (group all incidents regardless of when they occurred)
overall_level_df = drop_columns_df.drop(columns=['historical_level_max_average'])

## Scale features of training data

In [8]:
cluster_data_df = pd.DataFrame(preprocessing.scale(overall_level_df),columns=overall_level_df.columns)

In [9]:
cluster_data_df.head()

,date_idx,time_idx,day_of_week,lat1,lon1,lat2,lon2,road_type_1,road_type_2,road_type_3,road_type_4,road_type_6,road_type_7,overall_level_max_average,event,exp_attendance,padres_game
0,1.130568,-1.895563,-1.536475,1.23158,1.207839,1.255179,1.252538,-0.478203,1.70282,-0.375553,-0.288857,-0.399518,-0.52982,-0.677688,-0.196607,-0.184833,-0.229057
1,1.327178,-1.895563,-1.536475,1.23158,1.207839,1.255179,1.252538,-0.478203,1.70282,-0.375553,-0.288857,-0.399518,-0.52982,-0.677688,-0.196607,-0.184833,-0.229057
2,0.344127,-1.818711,-1.536475,1.23158,1.207839,1.255179,1.252538,-0.478203,1.70282,-0.375553,-0.288857,-0.399518,-0.52982,-0.677688,-0.196607,-0.184833,-0.229057
3,0.540737,-1.818711,-1.536475,1.23158,1.207839,1.255179,1.252538,-0.478203,1.70282,-0.375553,-0.288857,-0.399518,-0.52982,-0.677688,-0.196607,-0.184833,-0.229057
4,-0.638925,-1.665008,-1.536475,1.23158,1.207839,1.255179,1.252538,-0.478203,1.70282,-0.375553,-0.288857,-0.399518,-0.52982,-0.677688,-0.196607,-0.184833,-0.229057

## Train_test_split

In [10]:
print('splitting train and test data...')
train_data, test_data = train_test_split(cluster_data_df, test_size = 0.1)

splitting train and test data...

# Clustering

## Model

In [11]:
model = MiniBatchKMeans(n_clusters=20, init='k-means++')

In [12]:
model.fit(train_data)
predictions_train = model.predict(train_data)

In [13]:
predictions_test = model.predict(test_data)

## Concatenate cluster results to original training data

In [14]:
predictions_all = np.concatenate((predictions_train,predictions_test))

In [15]:
sampled_df_clustered = sampled_df.merge(pd.DataFrame(predictions_all, columns=['cluster'], 
                                                     index = np.concatenate((train_data.index,test_data.index))),
                                        left_index=True, right_index=True)

# Evaluation

### Manually sanity check some clusters

In [16]:
sampled_df_clustered[sampled_df_clustered['cluster'] == 0]

,index,date,time,date_idx,time_idx,day_of_week,segment_id,lat1,lon1,lat2,...,road_type_3,road_type_4,road_type_6,road_type_7,historical_level_max_average,overall_level_max_average,event,exp_attendance,padres_game,cluster
87,546,2017-05-08,18:30:00,89,1110,0,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
172,489,2017-05-09,11:30:00,90,690,1,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
208,644,2017-05-02,17:30:00,83,1050,1,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
216,855,2017-05-02,19:00:00,83,1140,1,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
227,754,2017-05-16,21:30:00,97,1290,1,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
282,320,2017-05-31,11:00:00,112,660,2,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
290,471,2017-05-31,12:30:00,112,750,2,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.117647,0.500000,0,0.0,1,0
329,693,2017-05-03,18:30:00,84,1110,2,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.230769,0.750000,0,0.0,1,0
418,690,2017-05-18,12:30:00,99,750,3,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
423,498,2017-05-04,13:00:00,85,780,3,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
443,65,2017-04-20,17:00:00,71,1020,3,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
444,514,2017-05-04,17:00:00,85,1020,3,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
454,786,2017-04-20,18:30:00,71,1110,3,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
469,32,2017-04-20,21:00:00,71,1260,3,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
562,163,2017-04-07,14:30:00,58,870,4,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.500000,0,0.0,1,0
582,701,2017-04-21,18:00:00,72,1080,4,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
586,781,2017-05-05,18:30:00,86,1110,4,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
588,621,2017-06-02,18:30:00,114,1110,4,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
591,681,2017-04-21,19:00:00,72,1140,4,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.272727,1.000000,0,0.0,1,0
603,820,2017-06-02,22:00:00,114,1320,4,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
608,453,2017-05-19,23:00:00,100,1380,4,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.000000,0,0.0,1,0
675,310,2017-06-03,12:00:00,115,720,5,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.235294,0.800000,0,0.0,1,0
679,324,2017-06-03,12:30:00,115,750,5,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.470588,2.000000,0,0.0,1,0
682,492,2017-06-03,13:00:00,115,780,5,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.529412,3.000000,0,0.0,1,0
688,596,2017-06-03,13:30:00,115,810,5,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.588235,1.666667,0,0.0,1,0
710,318,2017-06-03,16:00:00,115,960,5,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.352941,1.500000,0,0.0,1,0
713,588,2017-06-03,16:30:00,115,990,5,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.529412,3.000000,0,0.0,1,0
716,559,2017-06-03,17:00:00,115,1020,5,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.352941,2.000000,0,0.0,1,0
718,591,2017-04-22,17:30:00,73,1050,5,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,1.000000,0,0.0,1,0
724,812,2017-04-22,18:00:00,73,1080,5,18,32.762914,-117.128252,32.763334,...,0,0,0,0,0.000000,0.750000,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6881454,6881956,2017-05-16,21:30:00,97,1290,1,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881458,6881944,2017-05-02,22:30:00,83,1350,1,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881560,6882016,2017-05-17,18:00:00,98,1080,2,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881584,6881611,2017-05-03,22:30:00,84,1350,2,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881588,6881566,2017-05-03,23:00:00,84,1380,2,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881589,6881904,2017-05-17,23:00:00,98,1380,2,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881652,6882000,2017-05-04,12:00:00,85,720,3,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881653,6881464,2017-05-04,12:30:00,85,750,3,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881655,6881902,2017-05-18,12:30:00,99,750,3,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881659,6881963,2017-05-18,13:00:00,99,780,3,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881670,6881573,2017-05-18,15:30:00,99,930,3,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881687,6881992,2017-04-20,18:30:00,71,1110,3,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881697,6881422,2017-04-20,20:30:00,71,1230,3,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881795,6881818,2017-04-07,15:30:00,58,930,4,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.222222,0.666667,0,0.0,1,0
6881798,6881478,2017-04-07,16:00:00,58,960,4,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.222222,0.500000,0,0.0,1,0
6881809,6881986,2017-05-05,18:30:00,86,1110,4,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881810,6881657,2017-05-05,19:00:00,86,1140,4,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881824,6881711,2017-05-05,23:00:00,86,1380,4,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881829,6881372,2017-05-06,00:00:00,87,0,5,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881872,6881434,2017-06-10,12:00:00,122,720,5,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881874,6881561,2017-06-03,12:30:00,115,750,5,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881876,6881731,2017-06-10,13:30:00,122,810,5,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881886,6881364,2017-04-22,16:00:00,73,960,5,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881889,6881794,2017-06-03,17:00:00,115,1020,5,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881904,6881350,2017-04-08,20:00:00,59,1200,5,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881908,6881817,2017-04-08,20:30:00,59,1230,5,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6881909,6881896,2017-04-22,20:30:00,73,1230,5,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6882008,6881452,2017-04-09,13:30:00,60,810,6,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6882009,6881279,2017-05-21,13:30:00,102,810,6,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0
6882025,6881298,2017-06-11,17:00:00,123,1020,6,174548,32.751728,-117.150348,32.751978,...,0,0,1,0,0.000000,0.000000,0,0.0,1,0

In [17]:
sampled_df_clustered[sampled_df_clustered['cluster'] == 1]

,index,date,time,date_idx,time_idx,day_of_week,segment_id,lat1,lon1,lat2,...,road_type_3,road_type_4,road_type_6,road_type_7,historical_level_max_average,overall_level_max_average,event,exp_attendance,padres_game,cluster
891,1898,2017-04-17,00:00:00,68,0,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
892,1065,2017-04-24,00:00:00,75,0,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
893,1675,2017-06-12,00:00:00,124,0,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
894,1323,2017-04-17,00:30:00,68,30,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
895,1803,2017-02-13,01:00:00,5,60,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
896,1687,2017-03-20,01:00:00,40,60,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
897,1385,2017-05-08,01:00:00,89,60,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
898,1656,2017-05-22,01:00:00,103,60,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
899,1488,2017-02-13,01:30:00,5,90,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
900,1955,2017-04-03,02:00:00,54,120,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,1.500000,0,0.0,0,1
901,1048,2017-06-12,02:00:00,124,120,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.166667,1.500000,0,0.0,0,1
902,1225,2017-03-13,02:30:00,33,150,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
903,1818,2017-04-10,02:30:00,61,150,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
904,1289,2017-05-01,02:30:00,82,150,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
905,1355,2017-02-13,03:00:00,5,180,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
906,1865,2017-03-13,03:30:00,33,210,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
907,1347,2017-06-12,03:30:00,124,210,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
908,1183,2017-02-20,04:00:00,12,240,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
909,2080,2017-04-10,04:00:00,61,240,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
910,1914,2017-05-08,04:00:00,89,240,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
911,1269,2017-02-20,04:30:00,12,270,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
912,1066,2017-04-10,04:30:00,61,270,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
913,1891,2017-04-17,04:30:00,68,270,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
914,1509,2017-05-08,05:00:00,89,300,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
915,900,2017-04-17,05:30:00,68,330,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
916,2115,2017-05-08,05:30:00,89,330,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
917,1605,2017-05-29,05:30:00,110,330,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
918,963,2017-02-20,06:00:00,12,360,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
919,2189,2017-05-15,06:00:00,96,360,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
920,1760,2017-06-12,06:00:00,124,360,0,46,32.749029,-117.205133,32.749214,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6868976,6868622,2017-03-12,17:30:00,32,1050,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868977,6868882,2017-05-21,17:30:00,102,1050,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868978,6868988,2017-06-04,18:00:00,116,1080,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868979,6868935,2017-02-26,18:30:00,18,1110,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868980,6868240,2017-02-19,19:00:00,11,1140,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868981,6868378,2017-02-26,19:00:00,18,1140,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868982,6868856,2017-05-07,19:00:00,88,1140,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868983,6868454,2017-02-12,19:30:00,4,1170,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.666667,0,0.0,0,1
6868984,6868509,2017-03-19,19:30:00,39,1170,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.333333,0.666667,0,0.0,0,1
6868985,6868791,2017-05-14,19:30:00,95,1170,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.142857,0.666667,0,0.0,0,1
6868986,6868675,2017-03-26,20:00:00,46,1200,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868987,6868399,2017-04-09,20:00:00,60,1200,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868988,6868650,2017-05-28,20:00:00,109,1200,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868989,6868325,2017-06-04,20:00:00,116,1200,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868990,6868396,2017-02-19,20:30:00,11,1230,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868991,6868237,2017-02-26,20:30:00,18,1230,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868992,6868812,2017-03-26,20:30:00,46,1230,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868993,6868800,2017-04-30,20:30:00,81,1230,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868994,6868320,2017-03-26,21:00:00,46,1260,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868995,6868660,2017-03-26,21:30:00,46,1290,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868996,6868328,2017-05-07,21:30:00,88,1290,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868997,6868277,2017-06-04,21:30:00,116,1290,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868998,6868420,2017-02-26,22:00:00,18,1320,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6868999,6868479,2017-06-04,22:00:00,116,1320,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6869000,6868515,2017-05-21,22:30:00,102,1350,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6869001,6868616,2017-04-16,23:00:00,67,1380,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6869002,6868136,2017-04-23,23:00:00,74,1380,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6869003,6868428,2017-04-16,23:30:00,67,1410,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6869004,6868852,2017-04-30,23:30:00,81,1410,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1
6869005,6868300,2017-06-11,23:30:00,123,1410,6,174206,32.766888,-117.158357,32.767190,...,0,0,0,1,0.000000,0.000000,0,0.0,0,1

In [18]:
sampled_df_clustered[sampled_df_clustered['cluster'] == 2]

,index,date,time,date_idx,time_idx,day_of_week,segment_id,lat1,lon1,lat2,...,road_type_3,road_type_4,road_type_6,road_type_7,historical_level_max_average,overall_level_max_average,event,exp_attendance,padres_game,cluster
8034,8096,2017-04-03,00:00:00,54,0,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8035,8149,2017-04-24,00:00:00,75,0,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8036,8380,2017-02-13,00:30:00,5,30,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8037,8716,2017-02-27,00:30:00,19,30,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8038,8693,2017-03-27,00:30:00,47,30,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8039,8830,2017-05-08,00:30:00,89,30,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8040,8446,2017-02-13,01:30:00,5,90,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8041,8393,2017-06-12,01:30:00,124,90,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8042,8309,2017-05-15,02:00:00,96,120,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8043,8384,2017-06-05,02:00:00,117,120,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8044,8474,2017-02-20,02:30:00,12,150,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8045,8165,2017-03-20,02:30:00,40,150,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8046,8366,2017-04-03,02:30:00,54,150,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8047,8242,2017-04-24,02:30:00,75,150,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8048,8185,2017-04-03,03:00:00,54,180,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8049,8134,2017-05-29,03:00:00,110,180,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8050,8209,2017-06-05,03:00:00,117,180,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8051,8160,2017-05-15,03:30:00,96,210,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8052,8339,2017-06-12,03:30:00,124,210,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8053,8150,2017-04-10,04:30:00,61,270,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8054,8724,2017-02-20,05:00:00,12,300,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8055,8297,2017-02-27,05:00:00,19,300,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8056,8421,2017-02-13,05:30:00,5,330,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8057,8467,2017-02-20,05:30:00,12,330,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8058,8044,2017-03-27,05:30:00,47,330,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8059,8263,2017-04-24,05:30:00,75,330,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8060,8368,2017-06-05,05:30:00,117,330,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8061,8090,2017-02-20,06:00:00,12,360,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8062,8602,2017-03-13,06:00:00,33,360,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
8063,8876,2017-03-27,06:00:00,47,360,0,194,32.713633,-117.248724,32.713540,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6876761,6876184,2017-03-26,18:00:00,46,1080,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.5,0,0.0,0,2
6876762,6876773,2017-06-04,18:00:00,116,1080,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.5,0,0.0,0,2
6876763,6876225,2017-06-11,18:00:00,123,1080,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.111111,0.5,0,0.0,0,2
6876764,6876711,2017-02-26,18:30:00,18,1110,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876765,6876315,2017-03-19,18:30:00,39,1110,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876766,6876679,2017-04-02,18:30:00,53,1110,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876767,6876067,2017-04-09,18:30:00,60,1110,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876768,6875931,2017-05-21,18:30:00,102,1110,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876769,6876383,2017-03-19,19:00:00,39,1140,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876770,6876481,2017-04-09,19:00:00,60,1140,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876771,6876256,2017-02-12,19:30:00,4,1170,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876772,6876680,2017-04-30,20:00:00,81,1200,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876773,6876114,2017-06-04,20:00:00,116,1200,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876774,6876196,2017-02-19,20:30:00,11,1230,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876775,6876597,2017-03-26,20:30:00,46,1230,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876776,6876068,2017-05-28,20:30:00,109,1230,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876777,6876538,2017-02-26,21:00:00,18,1260,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876778,6876105,2017-06-04,21:00:00,116,1260,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876779,6876159,2017-02-26,21:30:00,18,1290,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876780,6876179,2017-03-12,21:30:00,32,1290,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876781,6876182,2017-05-28,21:30:00,109,1290,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876782,6875996,2017-05-07,22:00:00,88,1320,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876783,6876066,2017-06-11,22:00:00,123,1320,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876784,6876011,2017-03-12,22:30:00,32,1350,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876785,6876257,2017-04-16,22:30:00,67,1350,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876786,6876135,2017-05-14,22:30:00,95,1350,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876787,6876096,2017-05-28,22:30:00,109,1350,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876788,6876203,2017-02-12,23:00:00,4,1380,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876789,6876486,2017-02-19,23:00:00,11,1380,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2
6876790,6876545,2017-05-28,23:30:00,109,1410,6,174441,32.739914,-117.148379,32.739843,...,0,0,0,0,0.000000,0.0,0,0.0,0,2

### Check number of records per cluster

Even distribution of records per cluster would be good. Would mean each cluster has more meaning (rather than most incidents being in a single cluster which doesn't give us enough information.

In [19]:
for x in sampled_df_clustered['cluster'].unique():
    row_count = sampled_df_clustered.loc[sampled_df_clustered['cluster'] == x].shape[0]
    print('Cluster {} has {} elements'.format(x,row_count))

Cluster 6 has 1853263 elements
Cluster 0 has 296714 elements
Cluster 4 has 256120 elements
Cluster 1 has 1383265 elements
Cluster 3 has 867360 elements
Cluster 2 has 1009208 elements
Cluster 5 has 490450 elements
Cluster 7 has 725680 elements

# Write processed dataframe to pkl and sql

In [20]:
# write clustered training data to database
if file_args['write_sql_db']:
    sampled_df_clustered.to_sql(name='clustered_training_data', con=engine, 
                  if_exists='replace', index=False, chunksize=1000)

In [22]:
# write clustered dataframe to pickle file
if file_args['write_pickle_file']:
    pickle.dump(sampled_df_clustered, open('./data/train_test/clustered_training_data.pkl', 'wb'), protocol=4)